.header {
    background: linear-gradient(90deg,#f58249,#fd5c3c);
    background-image: linear-gradient(90deg, rgb(245, 130, 73), rgb(253, 92, 60));background: linear-gradient(90deg,#f58249,#fd5c3c);
    background-image: linear-gradient(90deg, rgb(245, 130, 73), rgb(253, 92, 60));
	}
	
.logoleft{
    width: 50%;
    padding-bottom: 2%;    
    justify-content: flex-start;
    }
    
.logoright{
    width: 50%;
    justify-content: flex-end;
    }	