
.freetoilet {
    color: green;
    width: 35px;
    height: 35px;
}

.busytoilet {
    color: red;
    width: 35px;
    height: 35px;
}

.maintanance {
    color: orange;
    width: 35px;
    height: 35px;
}

.toilet {
    position: absolute;
}