
.freetoilet {
    color: rgb(13, 139, 13);
    width: 30px;
    height: 30px;
}

.busytoilet {
    color: rgb(255, 68, 0);
    width: 30px;
    height: 30px;
}

.maintanance {
    color: yellow;
    width: 30px;
    height: 30px;
}

.toilet {
    position: absolute;
}